/*
 * Below CSS classes refer not existing images from /icons subfolder. Place such graphics there and 
 * correct styles' positioning and scaling (or remove it) for them.
 */

/*
 * Icon for dedicated UI action "ConnectDropbox"
 */
.uiIconEcmsConnectDropbox {
	height: 14px !important;
	width: 14px !important;
}
.uiIconEcmsConnectDropbox:before {
	content: url("icons/dropbox-gray-14x14.png");
}

/*
 * Icon of a provider in connect dialog (where all available connectors visible)
 */
.uiIconEcmsConnectDialog-dropbox {
	background: url('icons/dropbox-gray-32x32.png') no-repeat scroll left center transparent !important;
	height: 32px !important;
	width: 32px !important;
}

/*
 * File icon in file view.
 */
.uiIcon16x16CloudFile-dropbox {
	top: 3px;
}
.uiIcon16x16CloudFile-dropbox:before {
	content: url("icons/dropbox-gray-14x14.png");
}

/*
 * Drive icon in side-bar tree.
 */
.uiIcon16x16CloudDrive-dropbox {
	left: -1px;
	top: 1px;
	width: 16px;
  height: 16px;
  position: absolute !important;
	-webkit-transform: scale(0.36);
  -moz-transform: scale(0.36);
  -o-transform: scale(0.36);
  -ms-transform: scale(0.36);
  transform: scale(0.36);
	background: url("icons/dropbox-lightgray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Admin/List view.
 */
.uiIcon24x24CloudDrive-dropbox {
	left: 1px;
  top: -19px;
  width: 20px;
  height: 20px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/dropbox-lightgray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Icon view.
 */
.uiIcon64x64CloudDrive-dropbox {
	left: 44px;
	top: 17px;
	width: 40px;
  height: 40px;
  position: absolute !important;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/dropbox-lightgray-32x32.png") no-repeat center center transparent !important;
}

/*
 * Responsive styles
 */
@media (min-width: 481px) and (max-width: 1024px) {
	.uiIcon24x24CloudDrive-dropbox {
		left: 4px;
	  top: -28px;
	  -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	
	.uiIcon64x64CloudDrive-dropbox {
		left: 44px;
		top: 27px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	
	.uiIcon16x16CloudDrive-dropbox {
		left: 1px;
		top: 3px;
		-webkit-transform: scale(0.45);
		-moz-transform: scale(0.45);
		-o-transform: scale(0.45);
		-ms-transform: scale(0.45);
		transform: scale(0.45);
	}
}
