/*
 * Below CSS classes refer not existing images from /icons subfolder. Place such graphics there and 
 * correct styles' positioning and scaling (or remove it) for them.
 */

/*
 * Icon for dedicated UI action "ConnectDropbox"
 */
.uiIconEcmsConnectDropbox {
	/*background: url('icons/dropbox-gray-16x16.png') no-repeat scroll left center transparent !important;*/
	height: 14px !important;
	width: 14px !important;
}
.uiIconEcmsConnectDropbox:before {
	content: url("icons/dropbox-gray-14x14.png");
}

/*
 * Icon of a provider in connect dialog (where all available connectors visible)
 */
.uiIconEcmsConnectDialog-dropbox {
	background: url('icons/dropbox-gray-32x32.png') no-repeat scroll left center transparent !important;
	height: 32px !important;
	width: 32px !important;
}

/*
 * File icon in file view.
 */
.uiIcon16x16CloudFile-dropbox {
	background: url("icons/dropbox-gray-16x16.png") no-repeat left center transparent !important;
}

/*
 * Drive icon in side-bar tree.
 */
.uiIcon16x16CloudDrive-dropbox {
	left: 2px;
	top: 4px;
	-webkit-transform: scale(0.36);
  -moz-transform: scale(0.36);
  -o-transform: scale(0.36);
  -ms-transform: scale(0.36);
  transform: scale(0.36);
	background: url("icons/dropbox-lightgray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Admin/List view.
 */
.uiIcon24x24CloudDrive-dropbox {
	left: -1px;
	top: -3px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/dropbox-lightgray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Icon view.
 */
.uiIcon64x64CloudDrive-dropbox {
	left: 1px;
	top: -20px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/dropbox-lightgray-32x32.png") no-repeat center center transparent !important;
}
