/*
 * Icon for dedicated UI action "ConnectCMIS"
 */
.uiIconEcmsConnectCMIS {
	height: 14px !important;
	width: 14px !important;
}
.uiIconEcmsConnectCMIS:before {
	content: url("icons/cmis-logo-gray-14x14.png");
}

/*
 * Icon of a provider in connect dialog (where all available connectors visible)
 */
.uiIconEcmsConnectDialog-cmis {
	background: url('icons/cmis-logo-gray-24x24.png') no-repeat scroll left center transparent !important;
	height: 32px !important;
	width: 32px !important;
}

/*
 * File icon in file view.
 */
.uiIcon16x16CloudFile-cmis {
	top: 3px;
}
.uiIcon16x16CloudFile-cmis:before {
	content: url("icons/cmis-logo-gray-14x14.png");
}


/*
 * Drive icon in side-bar tree.
 */
.uiIcon16x16CloudDrive-cmis {
	left: -1px;
	top: 1px;
	width: 16px;
  height: 16px;
  position: absolute !important;
	-webkit-transform: scale(0.36);
	-moz-transform: scale(0.36);
	-o-transform: scale(0.36);
	-ms-transform: scale(0.36);
	transform: scale(0.36);
	background: url("icons/cmis-logo-gray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Admin/List view.
 */
.uiIcon24x24CloudDrive-cmis {
	left: 1px;
  top: -19px;
  width: 20px;
  height: 20px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/cmis-logo-gray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Icon view.
 */
.uiIcon64x64CloudDrive-cmis {
	left: 44px;
	top: 17px;
	width: 40px;
  height: 40px;
  position: absolute !important;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/cmis-logo-gray-32x32.png") no-repeat center center transparent !important;
}

/*
 * Responsive styles
 */
@media (min-width: 481px) and (max-width: 1024px) {
	.uiIcon24x24CloudDrive-cmis {
		left: 4px;
	  top: -28px;
	  -webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.uiIcon64x64CloudDrive-cmis {
		left: 44px;
		top: 27px;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.uiIcon16x16CloudDrive-cmis {
		left: 1px;
		top: 3px;
		-webkit-transform: scale(0.45);
		-moz-transform: scale(0.45);
		-o-transform: scale(0.45);
		-ms-transform: scale(0.45);
		transform: scale(0.45);
	}
}
