/*
 * Icon for dedicated UI action "ConnectCMIS"
 */
.uiIconEcmsConnectCMIS {
	height: 14px !important;
	width: 14px !important;
}
.uiIconEcmsConnectCMIS:before {
	content: url("icons/cmis-logo-gray-14x14.png");
}

/*
 * Icon of a provider in connect dialog (where all available connectors visible)
 */
.uiIconEcmsConnectDialog-cmis:before {
	content: url("icons/cmis-logo-gray-24x24.png");
	height: 32px !important;
	width: 32px !important;
}

/*
 * File icon in file view.
 */
.uiIcon16x16CloudFile-cmis {
	top: 3px;
}
.uiIcon16x16CloudFile-cmis:before {
	content: url("icons/cmis-logo-gray-14x14.png");
}

/*
 * Drive icon in side-bar tree.
 */
.uiIcon16x16CloudDrive-cmis:before {
	left: -15px;
  top: 0px;
	width: 16px;
  height: 16px;
  position: absolute !important;
	-webkit-transform: scale(0.36);
	-moz-transform: scale(0.36);
	-o-transform: scale(0.36);
	-ms-transform: scale(0.36);
	transform: scale(0.36);
	content: url("icons/cmis-logo-gray-16x16.png");
}

/*
 * Drive icon in Admin/List view.
 */
.uiIcon24x24CloudDrive-cmis:before {
	left: 2px;
  top: -21px;
  width: 20px;
  height: 20px;
  position: relative !important;
  display: inline-block;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	content: url("icons/cmis-logo-gray-16x16.png");
}

/*
 * Drive icon in Icon view.
 */
.uiIcon64x64CloudDrive-cmis:before {
	left: -50px;
  top: 3px;
	width: 40px;
  height: 40px;
  position: absolute !important;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	content: url("icons/cmis-logo-gray-32x32.png");
}

/*
 * Responsive styles
 */
@media (min-width: 481px) and (max-width: 1024px) {
	
	.uiIcon16x16CloudDrive-cmis:before {
		left: -17px;
		top: 2px;
		-webkit-transform: scale(0.45);
		-moz-transform: scale(0.45);
		-o-transform: scale(0.45);
		-ms-transform: scale(0.45);
		transform: scale(0.45);
	}
	
	.uiIcon24x24CloudDrive-cmis:before {
		left: 7px;
	  top: -30px;
	  -webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.uiIcon64x64CloudDrive-cmis:before {
		left: -57px;
    top: -5px;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
}
