/*
 * Icon for dedicated UI action "ConnectCMIS"
 */
.uiIconEcmsConnectCMIS {
	background: url('icons/cmis-logo-gray-16x16.png') no-repeat scroll left center transparent !important;
	height: 16px !important;
	width: 16px !important;
}

/*
 * Icon of a provider in connect dialog (where all available connectors visible)
 */
.uiIconEcmsConnectDialog-cmis {
	background: url('icons/cmis-logo-gray-24x24.png') no-repeat scroll left center transparent !important;
	height: 32px !important;
	width: 32px !important;
}

/*
 * File icon in file view.
 */
.uiIcon16x16CloudFile-cmis {
	background: url("icons/cmis-logo-gray-16x16.png") no-repeat left center transparent !important;
}

/*
 * Drive icon in side-bar tree.
 */
.uiIcon16x16CloudDrive-cmis {
	left: 2px;
	top: 4px;
	-webkit-transform: scale(0.36);
	-moz-transform: scale(0.36);
	-o-transform: scale(0.36);
	-ms-transform: scale(0.36);
	transform: scale(0.36);
	background: url("icons/cmis-logo-gray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Admin/List view.
 */
.uiIcon24x24CloudDrive-cmis {
	left: -1px;
	top: -3px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/cmis-logo-gray-16x16.png") no-repeat center center transparent !important;
}

/*
 * Drive icon in Icon view.
 */
.uiIcon64x64CloudDrive-cmis {
	left: 1px;
	top: -20px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/cmis-logo-gray-32x32.png") no-repeat center center transparent !important;
}

/*
 * File View style
 */
.file-content {
	position: relative;
	min-height: 600px;
	height: auto !important;
}

.file-content .CodeMirror {
	min-height: 600px;
	height: 800px; !important;
}