/* XXX we do relative the server root because otherwise SkinService will go to in infinitive recursion */
@import "/cloud-drive-cmis/skin/jquery-ui.min.css";
@import "/cloud-drive-cmis/skin/jquery-ui.structure.min.css";
@import "/cloud-drive-cmis/skin/jquery-ui.theme.min.css";

#cmis-login-error.error-message {
	margin: 20px 50px 0;
	text-align: justify;
}

#cmis-login-error .uiIconError {
	background: url("/eXoSkin/skin/images/themes/default/Icons/uiIconsColor.png") no-repeat scroll left top transparent;
	padding-left: 20px;
}

#cmis-login-error .uiIconError:before {
	content: none;
}

#cmis-login-error .uiIconWarning {
	background: url("/eXoSkin/skin/images/themes/default/Icons/uiIconsColor.png") no-repeat -20px top transparent;
	padding-left: 20px;
}

#cmis-login-error .uiIconWarning:before {
	content: none;
}

#cmis-login-error .alert {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	box-shadow: none;
	padding: 0;
	color: #c09853;
	width: 420px;
	margin: 0 auto;
}

#cmis-login-error .alert>i {
	margin-top: 0px;
}

#cmis-login-wrapper .login-error {
	position: relative;
	top: -6px;
	font-size: 11px;
	margin-bottom: 0px;
}

#cmis-login-wrapper .login-error-container {
	display: block;
	height: 12px;
}

button.btn {
	width: 120px;
}

button.btn.dropdown-toggle {
	width: 34px;
}

#service-url-predefined {
	left: -270px;
	width: 304px;
}

.text-centered {
	text-align: center;
}

.form-centered {
	width: 320px;
	margin: 0 auto;
}

div.form-buttons {
	margin-top: 10px;
}

#cmis-login-wrapper .input-append {
	display: block;
}

#cmis-login-wrapper .control-group {
	margin-bottom: 2px;
}

#cmis-login-wrapper .controls {
	margin-bottom: 5px;
}

#cmis-login-wrapper .controls input {
	margin-bottom: 0;
}

@media ( max-width : 1024px) and (min-width: 481px) {
	#cmis-login-wrapper .btn.dropdown-toggle {
		height: 32px;
	}
}