.uiIconEcmsConnectBox {
	height: 14px !important;
	width: 14px !important;
}

.uiIconEcmsConnectBox:before {
	content: url("icons/box-gray-14x14.png");
}

.uiIconEcmsConnectDialog-box:before {
	content: url("icons/box-gray-24x24.png");
}

.uiIcon16x16CloudFile-box {
	top: 3px;
}

.uiIcon16x16CloudFile-box:before {
	content: url("icons/box-gray-14x14.png");
}

.uiIcon16x16CloudDrive-box:before {
	left: -15px;
	top: 0px;
	width: 16px;
	height: 16px;
	position: absolute !important;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	content: url("icons/box-gray-16x16.png");
}

.uiIcon24x24CloudDrive-box:before {
	left: 3px;
	top: -21px;
	width: 20px;
	height: 20px;
	position: relative !important;
	display: inline-block;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	content: url("icons/box-gray-16x16.png");
}

.uiIcon64x64CloudDrive-box:before {
	left: -50px;
	top: -4px;
	width: 40px;
	height: 40px;
	position: absolute !important;
	content: url("icons/box-gray-32x32.png");
}

@media ( min-width : 481px) and (max-width: 1024px) {
	.uiIcon16x16CloudDrive-box:before {
		left: -17px;
		top: 2px;
	}
	.uiIcon24x24CloudDrive-box:before {
		left: 6px;
		top: -30px;
	}
	.uiIcon64x64CloudDrive-box:before {
		left: -57px;
		top: -8px;
	}
}

/*************************** NodeType Icons for Box documents ***********************/
.uiIcon16x16applicationx-exoboxwebdoc:before {
	content: url("icons/box-webdoc-16x16.png");
}

.uiIcon24x24applicationx-exoboxwebdoc:before {
	content: url("icons/box-webdoc-24x24.png");
}

.uiIcon64x64applicationx-exoboxwebdoc:before {
	content: url("icons/box-webdoc-64x64.png");
}

.uiBgd64x64applicationvndgoogle-exoboxwebdoc {
	background-image: url("icons/box-webdoc-64x64.png");
}

.uiIcon16x16applicationx-exoboxnote:before {
	content: url("icons/box-note-16x16.png");
}

.uiIcon24x24applicationx-exoboxnote:before {
	content: url("icons/box-note-24x24.png");
}

.uiIcon64x64applicationx-exoboxnote:before {
	content: url("icons/box-note-64x64.png");
}

.uiBgd64x64applicationvndgoogle-exoboxnote {
	background-image: url("icons/box-note-64x64.png");
}