.uiIconEcmsConnectBox {
	/*background: url('icons/box-gray-14x14.png') no-repeat scroll left center transparent !important;*/
	height: 14px !important;
	width: 14px !important;
}
.uiIconEcmsConnectBox:before {
	content: url("icons/box-gray-14x14.png");
}

.uiIconEcmsConnectDialog-box {
	background: url("icons/box-gray-24x24.png") no-repeat scroll left center transparent !important;
	height: 32px !important;
	width: 32px !important;
}

.uiIcon16x16CloudFile-box {
	background: url("icons/box-gray-16x16.png") no-repeat left center transparent !important;
}

.uiIcon16x16CloudDrive-box {
	left: 2px;
	top: 4px;
	-webkit-transform: scale(0.36);
	-moz-transform: scale(0.36);
	-o-transform: scale(0.36);
	-ms-transform: scale(0.36);
	transform: scale(0.36);
	background: url("icons/box-gray-16x16.png") no-repeat center center transparent !important;
}

.uiIcon24x24CloudDrive-box {
	left: -1px;
	top: -3px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/box-gray-16x16.png") no-repeat center center transparent !important;
}

.uiIcon64x64CloudDrive-box {
	left: 1px;
	top: -20px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	background: url("icons/box-gray-32x32.png") no-repeat center center transparent !important;
}

/*************************** NodeType Icons for Box documents ***********************/

.uiIcon16x16applicationx-exoboxwebdoc {
	background: url('icons/box-webdoc-16x16.png') center center no-repeat !important;
}

.uiIcon24x24applicationx-exoboxwebdoc {
	background: url('icons/box-webdoc-24x24.png') center center no-repeat !important;
}

.uiIcon64x64applicationx-exoboxwebdoc {
	background: url('icons/box-webdoc-64x64.png') center center no-repeat !important;
}

.uiIcon16x16applicationx-exoboxnote {
	background: url('icons/box-note-16x16.png') center center no-repeat !important;
}

.uiIcon24x24applicationx-exoboxnote {
	background: url('icons/box-note-24x24.png') center center no-repeat !important;
}

.uiIcon64x64applicationx-exoboxnote {
	background: url('icons/box-note-64x64.png') center center no-repeat !important;
}
